{% extends 'base.html' %}

{% block content %}
    <h1> Subida y eliminacion de archivos </h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis unde iste pariatur error omnis inventore amet molestiae quae laborum voluptates velit eveniet rerum qui commodi ipsum dolorem temporibus alias minima eaque corrupti nam, mollitia architecto. Suscipit, aut. Sint tenetur suscipit, quasi praesentium, vitae recusandae corrupti, sequi asperiores quis officiis labore.</p>

{% endblock %}